# Default ignored files
/../../../../../../ADMIN~1.DES/AppData/Local/Temp/main.py15255153801395142288/.idea/shelf/
/../../../../../../ADMIN~1.DES/AppData/Local/Temp/main.py15255153801395142288/.idea/workspace.xml
